:root {
    --white-blue: #c5d2e5;
    --white-blue-2: #ecf0f6;
    --light-gray-1: #cccccc;
    --light-gray-2: #e0e0e0;
    --gray-1: #2d2d2d; 
    --gray-2: #424242;  
    --blue: #3f69a8;
    --light-blue-1: #c5d2e5;
    --light-blue-2: #d0dff6;
    --dark-blue: #1774ca;
    --green-1: #38b673;
    --green-2: #46d68a;
    --red-1: #B4393C;
    --red-2: #d64446;
    --yellow-1: rgb(227, 220, 25);
}
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Textarea */
textarea {
    width: 100%; 
    min-height: 400px !important;
    height: 100%;
    resize: none;
}

/* Checkbox */
input[type=checkbox]
{
    height:fit-content !important;
    transform: scale(1.35);
}

/* Modal */
.modal-body .container label {
    margin: 0;
}
.container .check-span {
    font-size: 12pt !important;
    font-weight: 500 !important;
}
.container .flatpickr-container {
    color: white;
    padding: 0 .5em;
    border-radius: 5px;
    width: fit-content;
}
.red-bg {
    background-color:  var(--red-2);
}
.yellow-bg {
    background-color: var(--yellow-1);
}
.green-bg {
    background-color: var(--green-1);
}

/* Login and Register Pages */
.loginRegisterContainer {
    color: white;
    background-color: var(--blue);
    padding: 1rem 2rem;
    margin-top: 2rem;
}
.loginRegisterContainer .form-text {
    color: var(--light-gray-1);
    
}
.loginRegisterContainer a {
    color: white;
}

/* Bootstrap buttons */
/* input:hover, input:focus, input:active {
    border: 1px solid #CED4DA !important;
    box-shadow: none !important;
} */
.btn-primary, .btn-secondary {
    font-weight: bold !important;
    font-size: 14px !important;
    color: #FFFFFF !important;
    padding: 10px 15px !important;
    border-radius: 0 !important;
    border: 0 !important;
}
.btn-primary, .btn-primary:focus {
    background-color: var(--green-1) !important;
    box-shadow: none !important;
}
.btn-primary:hover {
    background-color: var(--green-2) !important;
    transition: .5s;
}
.btn-secondary, .btn-secondary:focus {
    background-color: var(--gray-1) !important;
    box-shadow: none !important;
}
.btn-secondary:hover {
    background-color: var(--gray-2) !important;
    transition: .5s;
}

/* FontAwesome */
.fa-cog {
    font-size: 30pt !important;
    color: var(--light-blue-1);
}
.fa-cog:hover {
    color: var(--light-blue-2);
    transition: 2s;
}
.add {
    font-size: .8em;
    background-color: var(--green-1);
    color: white;
}
.add:hover {
    background-color: var(--green-2);
    cursor: pointer;
    transition: .5s;
}
.add i {
    padding: .25em;
}
.trash {
    font-size: .8em;
    background-color: var(--red-1);
    color: white;
}
.trash:hover {
    background-color: var(--red-2);
    cursor: pointer;
    transition: .5s;
}
.trash i {
    padding: .25em;
}

/* Body */
body {
    background-color: white;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.navtop {
    margin: 0 auto;
    background-color: #3f69a8;
    height: fit-content;
    width: 100%;
    border: 0;
    padding: 1rem;
}
.navtop div {
    display: flex;
    align-items: center;
    max-width: 1000px;
}
.navtop div .container {
    padding: 0;
}
.navtop div .container a {
    text-decoration: none;
    color: #c5d2e5;
    font-weight: bold;
}
.navtop div .container .title {
    cursor: pointer;
}
.navtop div div h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    color: #ecf0f6;
    font-weight: normal;
    min-width: 220px;
    padding: 0 0 0 20px;
}
.navtop div form .logoutBtn {
    margin-left: 5rem;
}
.read {    
    overflow-x: scroll;
}
/* start of content projects */
.content {
    display: flex;
    min-height: 80vh !important;
    min-width: 100%;
    padding: 0.5rem;
}
.projectAndTaskContainer {
    margin: 0 1rem 0 0;
    padding: 0.5em 0.5em 0 0.5em;
    min-width: 310px;
    max-width: 310px;
    height: fit-content;
    color: #313131;
    background-color: var(--light-gray-2);
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #313131;
    border-radius: 5px;
}
.projectAndTaskContainer .container {
    max-height: 76vh;
    overflow-y: scroll;
    padding-left: 0;
    padding-right: .5em;
}
.projectContainer {
    background-color: var(--light-gray-2);
}
.projectContainer .projectName {
    width: 175px;
    min-height: fit-content;
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: 0;
    border: 1px solid transparent;
    font-size: 12pt !important;
    font-weight: 900 !important;
    cursor: pointer;
}
.projectContainer .projectName:focus {
    background-color: white;
    border: 1px solid #3f69a8;
    transition: .5s;
}
.projectContainer .actions button {
    padding: 0;
    border: 0;
    outline: 0;
    margin-left: 0.5em;
}
.taskContainer {    
    max-height: 70vh;
    margin: 0.5rem 0;
    width: 100%;
}
.taskContainer .open-modal {
    cursor: pointer;
}
.taskContainer .open-modal label {
    cursor: pointer;
}
.taskContainer tbody .taskName td .taskContainer {    
    background-color: #fff;
    margin-bottom: .25em;
    padding: 0.5rem;
    border-radius: 5px; 
}
.taskContainer .taskName .status {
    margin-right: .5em;
    font-size: 11pt;
}
.taskContainer .taskName .taskText {
    display: flex;
    justify-content: center;
}
.taskContainer .taskName .taskTextContainer {
    cursor: pointer;   
}
.taskContainer .taskName .taskTitle {
    font-size: 11pt !important;
    font-weight: 900 !important;
}
.taskContainer .taskName .taskDescription {
    font-size: 10pt !important;
    font-weight: 700 !important;
    background-color: var(--light-gray-1);
    border-radius: 5px;
    padding: 0 .4em;
}
.taskContainer .taskName .actions {
    display: flex;
    justify-content: center;
}
.taskContainer .taskName .actions button {
    margin: 0 0.25rem;
    padding: 0;
    border: 0;
    outline: 0;
}

/* End of Projects content */
footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    color: fff;
    background-color: #3f69a8;
    padding: 0.5em 0 2em 0;
}
footer .rest {
    min-height: 10em;
    background-color: #3f69a8;
}
@media screen and (max-width: 650px) {
    .navtop div .container a .fa-cog {
        font-size: 25pt !important;
    }
    .navtop div .container .title h1 {
        padding-left: 1rem !important;
        font-size: 20pt !important;
    }
    .navBtn {
        font-size: 9pt !important;
        padding: .5rem !important;
    }
    .navtop div form .logoutBtn {
        margin-left: 1rem !important;
    }
}
@media screen and (max-height: 700px) {
    .container {
        margin-top: 0 !important;
    }
    .taskContainer {
        max-height: 68vh;
    }
}